.container-elements {
   min-width: 1px;
   width: 1px;
   height: 500px;
   display: flex;
   border: 1px solid #d1d1d0a8;
   padding: 20px;
   opacity: 0;
   box-shadow: inset 0 0 25px rgba(35, 218, 231, 0.5);
   transition: width 1s, min-width 1s, opacity .7s;
}

.input-data {
   padding: 30px;
   height: 50px;
   width: 330px;
   font-family: 'Anton', sans-serif;
   position: relative;
}

.input-data input{
   height: 100%;
   width: 100%;
   border: none;
   font-size: 20px;
   border-bottom: 1px solid #d1d1d0a8;
   outline:none;
   transition: all 0.3s ease;
   background-color: #ffffff00;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
   transform: translateY(-30px);
   font-size: 25px;
   color: rgba(35, 218, 231, 0.5);
   text-shadow: 0 0 25px rgba(35, 218, 231, 0.5);
}

.input-data input:focus,
.input-data input:valid {
   font-size: 25px;
   border-bottom: 3px solid rgba(35, 218, 231, 0.5);
   color: #70ffff;
   text-shadow: 0 0 5px rgba(35, 218, 231, 0.5);
   -webkit-box-shadow: 0 6px 6px -6px rgba(35, 218, 231, 0.5);
   -moz-box-shadow: 0 6px 6px -6px rgba(35, 218, 231, 0.5);
   box-shadow: 0 6px 6px -6px rgba(35, 218, 231, 0.5);
}

.input-data label {
   position: absolute;
   bottom: 10px;
   padding: 30px;
   left: 0;
   color: #d1d1d0a8;
   pointer-events: none;
   transition: all 0.3s ease;
}